@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');



#title{
	color: #D0D3D4;
	font-family: 'Reem Kufi Ink';
	font-size: 4.2vh;
}

.btn{
	background-color: #45B39D;
	color: #0E6655;
}

.navbar-toggler{
	background-color: #ECF0F1;
}

#navlink{
	color: #F39C12;
}

a#title.navbar-brand{
	margin-right: 5vw;
}

a#navlink.nav-link{
	padding-right: 2vw;
	padding-left: 2vw;
}